[Unit]
Description=redis-slave
After=armada.service
Requires=armada.service

[Service]
TimeoutStartSec=5
Type=oneshot
ExecStart=/usr/local/bin/armada run redis-slave -v '[local_directory]:/var/redis' --env production --app_id=myapp
ExecStop=/usr/local/bin/armada stop redis-slave

[Install]
WantedBy=multi-user.target